<an-component-def>
<an-body>
<div class="stat-card">
   <div class="stat-icon">
      <an-place name="icon">📊</an-place>
   </div>
   <div class="stat-info">
      <h4 class="stat-title"><an-place name="title">Metric Title</an-place></h4>
      <div class="stat-value"><an-place name="value">0</an-place></div>
      <div class="stat-trend">
         <span style="color: <an-place name='trendColor'>#94a3b8</an-place>">
            <an-place name="trend">--</an-place>
         </span>
      </div>
   </div>
</div>
</an-body>
</an-component-def>
